
#############################################


# OS X
.DS_Store

# XCode
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
Pods
xcode-build

# CMake
build
cmake-build-debug
cmake-build-release

# CLion
.idea